@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #121212;
    text-align: center;
    font-family: Inter, sans-serif;
 } 

 a {
    text-decoration: none;
    color: #121212;
 }